body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3197px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  height:1135px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:732px;
  height:1135px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:20px;
  width:135px;
  height:36px;
  font-size:18px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:1259px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:101px;
  width:836px;
  height:1259px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:20px;
  width:135px;
  height:36px;
  font-size:18px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:1612px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:1903px;
  top:66px;
  width:1294px;
  height:1612px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:2056px;
  top:20px;
  width:135px;
  height:36px;
  font-size:18px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3038px;
  height:1262px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:2244px;
  width:3038px;
  height:1262px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:2208px;
  width:135px;
  height:36px;
  font-size:18px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
