body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1116px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:50px;
  width:430px;
  height:880px;
}
#u646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:673px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:154px;
  width:381px;
  height:673px;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:22px;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:153px;
  width:382px;
  height:22px;
}
#u648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:175px;
  width:382px;
  height:35px;
  font-size:18px;
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:378px;
  word-wrap:break-word;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:207px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:383px;
  width:208px;
  height:207px;
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:210px;
  width:33px;
  height:31px;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:216px;
  width:94px;
  height:17px;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:243px;
  width:67px;
  height:19px;
}
#u653_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:268px;
  width:67px;
  height:19px;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:293px;
  width:67px;
  height:19px;
}
#u655_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:220px;
  width:67px;
  height:19px;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:249px;
  width:67px;
  height:38px;
}
#u657_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:410px;
  width:40px;
  height:40px;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:383px;
  width:29px;
  height:17px;
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:460px;
  width:40px;
  height:40px;
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:410px;
  width:40px;
  height:40px;
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:460px;
  width:40px;
  height:40px;
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:657px;
  width:381px;
  height:170px;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:77px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:659px;
  width:77px;
  height:77px;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:700px;
  width:53px;
  height:13px;
  font-size:11px;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:670px;
  width:97px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:758px;
  width:77px;
  height:22px;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:73px;
  word-wrap:break-word;
}
#u669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:758px;
  width:77px;
  height:22px;
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:73px;
  word-wrap:break-word;
}
#u670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:758px;
  width:77px;
  height:22px;
}
#u670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:73px;
  word-wrap:break-word;
}
#u671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:109px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:746px;
  width:122px;
  height:109px;
}
#u671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:860px;
  width:125px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:221px;
  height:19px;
}
#u674p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:216px;
  height:6px;
}
#u674p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:6px;
}
#u674p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:2px;
}
#u674p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u674p002 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:-10px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u674p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:724px;
  width:212px;
  height:1px;
}
#u674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:3.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:720px;
  width:7px;
  height:7px;
}
#u675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:50px;
  width:430px;
  height:880px;
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:673px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:154px;
  width:381px;
  height:673px;
}
#u678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:22px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:153px;
  width:382px;
  height:22px;
}
#u679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:175px;
  width:382px;
  height:35px;
  font-size:18px;
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:378px;
  word-wrap:break-word;
}
#u681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:207px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:383px;
  width:208px;
  height:207px;
}
#u681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:210px;
  width:33px;
  height:31px;
}
#u682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:216px;
  width:94px;
  height:17px;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:243px;
  width:67px;
  height:19px;
}
#u684_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:268px;
  width:67px;
  height:19px;
}
#u685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:293px;
  width:67px;
  height:19px;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:220px;
  width:67px;
  height:19px;
}
#u687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:249px;
  width:67px;
  height:38px;
}
#u688_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:410px;
  width:40px;
  height:40px;
}
#u689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:383px;
  width:29px;
  height:17px;
}
#u690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:460px;
  width:40px;
  height:40px;
}
#u691_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:410px;
  width:40px;
  height:40px;
}
#u692_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:460px;
  width:40px;
  height:40px;
}
#u693_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:657px;
  width:381px;
  height:170px;
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:683px;
  width:97px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:746px;
  width:140px;
  height:40px;
}
#u696_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:746px;
  width:140px;
  height:40px;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
